<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.StuTestRecordDao">

    <resultMap id="RecordMap" type="com.ssm.po.StuTestRecord">
        <id property="id" column="id"/>
        <result property="stuNo" column="stu_no"/>
        <result property="term" column="term"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
        <result property="bmi" column="bmi"/>
        <result property="scoreTotal" column="score_total"/>
        <result property="warningTag" column="warning_tag"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO stu_test_record(stu_no, term, height, weight, bmi, score_total, warning_tag)
        VALUES(#{stuNo}, #{term}, #{height}, #{weight}, #{bmi}, #{scoreTotal}, #{warningTag})
    </insert>

    <update id="updateByStuNoAndTerm">
        UPDATE stu_test_record
        SET height = #{height},
            weight = #{weight},
            bmi = #{bmi},
            score_total = #{scoreTotal},
            warning_tag = #{warningTag}
        WHERE stu_no = #{stuNo} AND term = #{term}
    </update>

    <delete id="deleteByStuNoAndTerm">
        DELETE FROM stu_test_record WHERE stu_no = #{stuNo} AND term = #{term}
    </delete>

    <select id="findByStuNoAndTerm" resultMap="RecordMap">
        SELECT * FROM stu_test_record WHERE stu_no = #{stuNo} AND term = #{term}
    </select>

    <select id="findByCondition" resultMap="RecordMap">
        SELECT * FROM stu_test_record
        <where>
            <if test="stuNo != null and stuNo != ''">AND stu_no = #{stuNo}</if>
            <if test="term != null and term != ''">AND term = #{term}</if>
        </where>
        ORDER BY term DESC, stu_no
    </select>

    <select id="findAll" resultMap="RecordMap">
        SELECT * FROM stu_test_record ORDER BY term DESC, stu_no
    </select>

    <select id="countByStuNo" resultType="int">
        SELECT COUNT(*) FROM stu_test_record WHERE stu_no = #{stuNo}
    </select>
</mapper>