.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: all 0.3s;
  .left,
  .right {
    padding: 20px;
    transition: all 0.3s;
  }
  .left {
    flex: 5;
    min-width: 300px;
    background-color: #f9f9f9;
    overflow: hidden;
  }
  .right {
    overflow-x: hidden;
    transition: none;
    min-width: 100vw;
    flex: 43;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    .welcome {
      font-size: 20px;
      font-weight: 700;
      white-space: nowrap;
      position: absolute;
      top: 40%;
      transform: translate(0, -50%);
      text-align: center;
      padding-right: 300px;
    }
    .mask {
      visibility: hidden;
      opacity: 0;
    }
    .header {
      margin-bottom: 20px;
      user-select: none;
      height: auto;
      width: 100%;
      .menu {
        cursor: pointer;
        display: flex;
        gap: 15px;
        span {
          font-weight: 700;
          font-size: 17px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .left {
    flex: 0;
    min-width: 0;
    padding: 0;
  }
  .right {
    flex: 1;
    width: 100%;
    .welcome {
      padding-right: 0 !important;
    }
    .mask {
      visibility: visible !important;
      opacity: 1 !important;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 100;
    }
  }
}
